.example-card {
    width: 70%;
    margin: 3rem auto;

    button:hover {
        background-color: rgba(241, 241, 238, 0.808);
        color: black;
    }

    .mat-card-actions {
        display: flex;
        justify-content: center;
    }

}