:host {
    padding: 1rem;

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        button {
            position: relative;
            bottom: 3px;

            &:hover {
                background-color: rgb(68, 185, 68);
            }
        }
    }



    .card-container {
        width: 90%;
        // background-color: red;
        display: flex;
        gap: 1rem;
        margin: 0 auto;

        app-card {
            box-shadow: 10px 9px 33px -1px #919191;
            display: flex;
            justify-content: center;
            margin: 1rem 0;
        }
    }
}