:host {
    padding: 1rem;

    .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        button {
            position: relative;
            bottom: 3px;
        }
    }

    .new-car-btn-container {
        width: 100px;
        margin: 0 auto;
    }

    .card-container {
        width: 90%;
        // background-color: red;
        display: flex;
        gap: 1rem;
        margin: 0 auto;

        app-card {
            display: flex;
            justify-content: center;
            margin: 1rem 0;
        }
    }
}