:host {
    padding: 1rem;

    .title {
        text-align: center;
    }

    .card-container {
        width: 90%;
        // background-color: red;
        display: flex;
        gap: 1rem;
        margin: 0 auto;

        app-card {
            display: flex;
            justify-content: center;
            margin: 1rem 0;
        }
    }
}